rota:
  ical_url: webcal://events.nyu.edu/live/ical/events/header/All%20Events
  api_key: abc12
  rules:
    - field: start_time
      operator: equals
      val: '08:00'
  alarms:
    clear_existing: true
    triggers:
      - '-P1DT0H0M0S'
      - '-P1DT1H1M2S'
