rota:
  ical_url: webcal://events.nyu.edu/live/ical/events/header/All%20Events
  api_key: abc12
  rules:
    - field: start_time
      operator: equals
      val: '08:00'
    -field: summary
     operator: not-includes
     val:['Sports', 'Shabbat', 'Bible', 'Sacred', 'Sorority', 'Jummah']
    -field: location
     operator: not-includes
     val: ['Florence']
      
  alarms:
    clear_existing: true
